<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://EC2AMAZ-BMHPF6H:8172/msdeploy.axd</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-54-238-131-90.ap-northeast-1.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>Toilluminate</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ToilluminateEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=ec2-54-238-131-90.ap-northeast-1.compute.amazonaws.com;Initial Catalog=Toilluminate;User ID=sa;Password=ta!@#456" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ToilluminateModel.ToilluminateEntities, ToilluminateModel" Origin="" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ToilluminateEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Toilluminate.csdl|res://*/Toilluminate.ssdl|res://*/Toilluminate.msl;provider=System.Data.SqlClient;provider connection string="Data Source=ec2-54-238-131-90.ap-northeast-1.compute.amazonaws.com;Initial Catalog=Toilluminate;User ID=sa;Password=ta!@#456"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>